<form action="" method="post" name="questionForm">
	<input id="answer" type="number" name="answerID"/>
	<input type="submit" value="debugValueSubmit" />
	<h5><%= q %></h5>
	<% if(a1 != null)  { %> <input type="button" name="answerButton1" onclick="sendAnswer(this.value)" value=<%= a1.id %>> <%= a1.answer%> </input> <% } %> 
	<% if(a2 != null)  { %> <input type="button" name="answerButton2" onclick="sendAnswer(this.value)" value=<%= a2.id %>> <%= a2.answer%> </input> <% } %> 
	<% if(a3 != null)  { %> <input type="button" name="answerButton3" onclick="sendAnswer(this.value)" value=<%= a3.id %>> <%= a3.answer %> </input> <% } %> 
</form>
<script>
	function sendAnswer(id){
		document.getElementById("answer").value = id;
		questionForm.submit();
	}
</script>