<div id="storyDiv">
	<form action="" method="post" name="questionForm">
		<input id="answer" type="number" name="answerID" id="storyInput"/>
		<h5><%= q %></h5>
		<% if(a.answerId1 != null)  { %> <input type="button" name="answerButton1" id="storyInput" onclick="sendAnswer(this.value)" value=<%= a.answerId1 %>> <%= a.answer1%> </input> <% } %> 
		<% if(a.answerId2 != null)  { %> <input type="button" name="answerButton2" id="storyInput" onclick="sendAnswer(this.value)" value=<%= a.answerId2 %>> <%= a.answer2%> </input> <% } %> 
		<% if(a.answerId3 != null)  { %> <input type="button" name="answerButton3" id="storyInput" onclick="sendAnswer(this.value)" value=<%= a.answerId3 %>> <%= a.answer3 %> </input> <% } %> 
	</form>
	<script>
		function sendAnswer(id){
			document.getElementById("answer").value = id;
			questionForm.submit();
		}
	</script>
</div>