<div id="profileDiv">
    <img src="../../public/images/default-pfp.png" id="profilePFP">
    <p>user id: <%= user.id %></p>
    <p>username: <%= user.username %></p>
    <p>account creation: <%= creationDate %></p>
    <p>account last active: <%= lastActiveDate %></p>
    <p>number of messages: <%= messageCount %></p>
    <p>average number of messages per day: <%= msgPerDay %></p>
    <p>average length of a message <%= avarageMsgLength %></p>
    <p>longest users message: <%= longestMessage %></p>
    <% if(isUserBanned)  { %> <p> USER IS BANNED! </p> <% } %>
</div>