<p>user id: <%= user.id %></p>
<p>username: <%= user.username %></p>
<p>account creation date: <%= creationDate %></p>
<p>account last active date: <%= lastActiveDate %></p>
<p>number of messages: <%= messageCount %></p>
